In [3]:
x =1

In [4]:
print

In [5]:
print(x)

1

In [8]:
a = 10

In [9]:
print(a)

10

In [10]:
type(a)

int

In [11]:
b = 10.9

In [12]:
type(b)

float

In [13]:
s ="Ariba"

In [14]:
print(s)

Ariba

In [15]:
t = 'Ariba'

In [16]:
print(t)

Ariba

In [17]:
type(s)== type(s)

True

In [19]:
x =1
print(x)
y = 10
y

1

10

In [20]:
x = None

In [21]:
print(x)

None

In [22]:
type(x)

NoneType

In [23]:
x = 10
y = 9
x+=1

In [24]:
print(x)

11

In [25]:
y/x

0.8181818181818182

In [26]:
y//x

0

In [28]:
x= '10'
y = str(x)
y/x

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [29]:
float(x)

10.0

In [30]:
x = 10

In [32]:
if x>0:
    print('positive value')
elif x==0:
    print('x is 0')
    
else:
    print('Negative value')

positive value

In [33]:
x= None

In [34]:
bool(x)

False

In [35]:
if x is None:
    print('hey')

hey

In [36]:
x =0
while x < 10:
    print(x)
    x+=1

0
1
2
3
4
5
6
7
8
9

In [37]:
ls = [10,20,30,40,50]
for item in ls:
    print(item)

10
20
30
40
50

In [38]:
for item in range(10):
    print(item)

0
1
2
3
4
5
6
7
8
9

In [39]:
def my_fun(p):
    a = 'Ariba'
    print(p+a)

In [40]:
def my_fun():
    a = 'Ariba'
    print(a)

In [41]:
my_fun()

Ariba

In [44]:
def my_fun(p, p2):
    print(p)
    print(p2)

In [45]:
my_fun(p2="SAP", p ="Bangalore")

Bangalore
SAP

In [46]:
my_fun("SAP","Bangalore")

SAP
Bangalore

In [49]:
def my_fun(name, loc=None):
    print(name)
    print(loc)

In [50]:
my_fun("SAP")

SAP
None

In [51]:
my_fun("SAP", "BLR")

SAP
BLR

In [52]:
def my_fun(name=None, loc=None):
    print(name)
    print(loc)

In [53]:
my_fun("SAP", "BLR")

SAP
BLR

In [54]:
my_fun("SAP")

SAP
None

In [56]:
my_fun()

None
None

In [60]:
def my_fun(name, loc, *args):
    print(name)
    print(loc)
    print(args)

In [61]:
my_fun('a','b', 10,20)

a
b
(10, 20)

In [62]:
def my_fun(name, loc, *args):
    print(name)
    print(loc)
    print(args[0])

In [63]:
my_fun('a','b', 10,20)

a
b
10

In [64]:
def my_fun(**kwargs):
    print(kwargs)

In [65]:
my_fun(name ="SAP", loc= "BLR")

{'name': 'SAP', 'loc': 'BLR'}

In [67]:
def my_fun(a, **kwargs):
    print(a)
    print(kwargs)

In [68]:
my_fun(10, name ="SAP", loc= "BLR")

10
{'name': 'SAP', 'loc': 'BLR'}

In [70]:
def my_fun(a, **kwargs):
    print(a)
    loc = kwargs['loc']
    name = kwargs['name']
    print(loc)
    print(name)

In [71]:
my_fun(10, name ="SAP", loc= "BLR")

10
BLR
SAP

In [74]:
from datetime import datetime

In [91]:
def my_logger(fun, *args):
    print("#######")
    print(datetime.now())
    print("output")
    print (fun(*args))
    print("########")

In [83]:
def _pow(x, y):
    return x**y

In [84]:
_pow(3,2)

9

In [86]:
sum([1,2,4,9])

16

In [92]:
my_logger(sum, [1,2,4,9])

#######
2019-09-25 11:10:43.200147
output
16
########

In [93]:
ls =[]

In [94]:
type(ls)

list

In [95]:
ls1 = list()

In [96]:
type(ls1)

list

In [97]:
ls = [10, 20, 30]

In [98]:
ls

[10, 20, 30]

In [99]:
ls[0]

10

In [100]:
ls[-1]

30

In [108]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [109]:
ls2 = list(range(0, 10, 2))

In [110]:
ls2

[0, 2, 4, 6, 8]

In [111]:
list(range(12,0, -1))

[12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [112]:
range?

In [113]:
ls2.append(10)

In [114]:
ls

[10, 20, 30]

In [115]:
ls2

[0, 2, 4, 6, 8, 10]

In [116]:
for item in range(5):
    print("repeat me")

repeat me
repeat me
repeat me
repeat me
repeat me

In [117]:
d = {}

In [118]:
d1 = dict()

In [119]:
d

{}

In [120]:
d1

{}

In [123]:
d = {"name" :"Ariba", "location":"BLR"}

In [124]:
d

{'name': 'Ariba', 'location': 'BLR'}

In [125]:
d["name"]

'Ariba'

In [126]:
name = d.get('name')

In [127]:
name

'Ariba'

In [131]:
date = d.get('date', "No date")

In [132]:
date

'No date'

In [133]:
d['date']

KeyError: 'date'

In [134]:
for k, v in d.items():
    print(k)

name
location

In [135]:
dir(datetime)

['__add__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 'astimezone',
 'combine',
 'ctime',
 'date',
 'day',
 'dst',
 'fold',
 'fromisoformat',
 'fromordinal',
 'fromtimestamp',
 'hour',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'microsecond',
 'min',
 'minute',
 'month',
 'now',
 'replace',
 'resolution',
 'second',
 'strftime',
 'strptime',
 'time',
 'timestamp',
 'timetuple',
 'timetz',
 'today',
 'toordinal',
 'tzinfo',
 'tzname',
 'utcfromtimestamp',
 'utcnow',
 'utcoffset',
 'utctimetuple',
 'weekday',
 'year']

In [136]:
%time datetime.now()

CPU times: user 11 µs, sys: 7 µs, total: 18 µs
Wall time: 37 µs

datetime.datetime(2019, 9, 25, 12, 0, 0, 325107)

In [141]:
%%time
for i in range(0, 10000000000):
    i+=1

CPU times: user 13min, sys: 387 ms, total: 13min
Wall time: 13min 1s

In [142]:
ls = [10,20,30,40,50,60,70,80,90,100]

In [143]:
ls[0:3]

[10, 20, 30]

In [144]:
ls[1:3]

[20, 30]

In [145]:
ls[:-1]

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [147]:
ls[:-3]

[10, 20, 30, 40, 50, 60, 70]

In [150]:
ls[-1::-1]

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [151]:
ls[::1]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [152]:
ls[-3:]

[80, 90, 100]

In [153]:
ls[-3::-1]

[80, 70, 60, 50, 40, 30, 20, 10]

In [154]:
ls[-3::-2]

[80, 60, 40, 20]

In [155]:
import myFile
\

I am in my file
 value of x is 10

In [156]:
myFile.rev(ls)

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [157]:
myFile.x

10

In [158]:
with open('log.txt', 'w') as fp:
    fp.write("Hello World:\n")
    fp.write("Namaste")

In [159]:
with open('log.txt', 'r') as fp:
    ls = fp.readlines()

In [160]:
ls

['Hello World:\n', 'Namaste']

In [ ]:
with open('log.txt', 'r') as fp:
    data = fp.readline()
    while data:
        print(data)
        data = fp.readline()

In [1]:
import json

In [2]:
d = {'name': 'Ariba', 'loc' : 'Bangalore'}

In [3]:
ds = json.dumps(d)

In [4]:
type(ds)

str

In [5]:
ds

'{"name": "Ariba", "loc": "Bangalore"}'

In [8]:
p = json.loads(ds)

In [9]:
p

{'name': 'Ariba', 'loc': 'Bangalore'}